<%-# Licensed to the Apache Software Foundation (ASF) under one
#or more contributor license agreements.  See the NOTICE file
#distributed with this work for additional information
#regarding copyright ownership.  The ASF licenses this file
#to you under the Apache License, Version 2.0 (the
#"License"); you may not use this file except in compliance
#with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

  <% form_for :transaction, :url => { :id => @transaction.id } do |form| %>
  <div id="create_user_form">

    <div class="label-field-pair">
      <label for="title">Title </label>
      <div class="text-field-bg"><%= form.text_field :title %> </div>
    </div>
    <div class="label-field-pair">
      <label for="description">Description </label>
      <div class="text-field-bg"><%= form.text_field :description %> </div>
    </div>


    <div class="label-field-pair">
      <label for="amount">Amount</label>
      <div class="text-field-bg"><%= form.text_field :amount %> </div>
    </div>
    <div class="label-field-pair">
      <label for="amount">Date</label>
      <div class="text-field-bg"><%= calendar_date_select_tag 'transaction[transaction_date]', Date.today, :year_range => 5.years.ago..0.years.ago %></div>
    </div>
    <div class="label-field-pair">
      <label for="category">Category</label>
      <div class="text-input-bg"><%= select :transaction, :category_id,@categories.map { |c| [c.name, c.id] }, :selected => @transaction.category_id %></div>
    </div>

    <%=  submit_tag "► Save",:class=>'submit_button' %>
  </div>
<% end %>
