<%-# Licensed to the Apache Software Foundation (ASF) under one
#or more contributor license agreements.  See the NOTICE file
#distributed with this work for additional information
#regarding copyright ownership.  The ASF licenses this file
#to you under the Apache License, Version 2.0 (the
#"License"); you may not use this file except in compliance
#with the License.  You may obtain a copy of the License at
#
#  http://www.apache.org/licenses/LICENSE-2.0
#
#Unless required by applicable law or agreed to in writing,
#software distributed under the License is distributed on an
#"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
#KIND, either express or implied.  See the License for the
#specific language governing permissions and limitations
#under the License. -%>

<div id="content-header">
   <img src="/images/show_finance.png" alt="" />
  <h1>Transactions</h1>
  <h3>Monthly Transactions</h3>
  <div id="app-back-button">
    <%= link_to_function image_tag("/images/buttons/back.png",:border => 0), "history.back()" %>
  </div>
</div>

<div id="page-yield">
  <div class="box">
  <div id="report">
    <% form_for :report, :url => {:action => 'report_compare'} do |form| %>
      <div class="label-field-pair">
        <label>
          Select start date:
        </label>
        <div class="text-input-bg">
          <%= calendar_date_select_tag 'start_date', Date.today %>
        </div>
      </div>
      <div class="label-field-pair">
        <label>
          Select end date:
        </label>
        <div class="text-input-bg">
          <%= calendar_date_select_tag 'end_date', Date.today %>
        </div>
      </div>
    <h4>Compare With </h4>
      <div class="label-field-pair">
        <label>
          Select start date:
        </label>
        <div class="text-input-bg">
          <%= calendar_date_select_tag 'start_date2', Date.today %>
        </div>
      </div>
      <div class="label-field-pair">
        <label>
          Select end date:
        </label>
        <div class="text-input-bg">
          <%= calendar_date_select_tag 'end_date2', Date.today %>
        </div>
      </div>
          <%=  submit_tag "► Get Report",:class=>'submit_button' %>
    <%end%>
  </div>
</div>
</div>

